body {
    background: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 25%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    border-radius: 20px;
    margin-top: 60px;
    background: #000000;
}

.entrada {
    display: grid;
    justify-items: end;
    background: #1e1e1e;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #fff;
    padding-top: 5px;
    padding-right: 5px;
}

.entrada .operacion_previa {
    font-size: 15px;
    color: #000;
    margin-top: 5px;
}

.fas {
    color: gray;
    position: relative;
    top: 32px;
    left: 10px;
}

.entrada .operacion {
    color: #000;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #fff;
    width: 99%;
    border: none;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
}

.sumar {
    grid-row: 2/4;
    grid-column: 4/5;
}

.botones .igual {
    grid-row: 4/6;
    grid-column: 4/5;
    background: #28679b;
}

.botones button {
    padding: 10px 0px;
    background-color: #4d4d4d;
    color: white;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botones button:hover {
    background-color: #9b2828;
}